:root{
    --color-fondo-os: hsl(44, 100%, 57%);
    --color-fondo-cl: hsl(44, 100%, 81%);
    --color-fondo-b1: hsl(89, 80%, 80%);
    --color-fondo-b2: hsl(360, 60%, 80%);
}

body{
  font-family: Cascadia Code;
}

.resize{
  width: 200px;
  height: 125px;
}
.resize2{
  width: 25px;
  height: 25px;
}


.fondo-imag{
  background-image: url(../img/defawall.jpg);
  background-repeat: no-repeat;
  width: 100%;
}

.start-25{
  left: 25% !important;
}

.end-10 {
  right: 10 !important;
}

.pt-10 {
  padding-top: 6rem !important;
}

.pb-10 {
  padding-bottom: 6rem !important;
}

textarea{
  resize: none ;
}

.columnaDiv{
  column-count: 2;
}
.columnaDiv3{
  column-count: 3;
}
.columnaDiv5{
  column-count: 2;
}

select{
  padding: 2.5px !important;
}
.imputnormal{
  padding: 2.5px !important;
}

.modal2 {
  --bs-modal-zindex: 1055;
  --bs-modal-width: 600px;
  --bs-modal-padding: 1rem;
  --bs-modal-margin: 0.5rem;
  --bs-modal-color: ;
  --bs-modal-bg: #fff;
  --bs-modal-border-color: var(--bs-border-color-translucent);
  --bs-modal-border-width: 1px;
  --bs-modal-border-radius: 0.5rem;
  --bs-modal-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --bs-modal-inner-border-radius: calc(0.5rem - 1px);
  --bs-modal-header-padding-x: 1rem;
  --bs-modal-header-padding-y: 1rem;
  --bs-modal-header-padding: 1rem 1rem;
  --bs-modal-header-border-color: var(--bs-border-color);
  --bs-modal-header-border-width: 1px;
  --bs-modal-title-line-height: 1.5;
  --bs-modal-footer-gap: 0.5rem;
  --bs-modal-footer-bg: ;
  --bs-modal-footer-border-color: var(--bs-border-color);
  --bs-modal-footer-border-width: 1px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--bs-modal-zindex);
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}